[submodule "code-runner"]
	path = code-runner
	url = git@github.com:arielril/shdw-code-runner.git
[submodule "weight"]
	path = weight
	url = git@github.com:arielril/shdw-weight.git
[submodule "graph"]
	path = graph
	url = git@github.com:arielril/shdw-graph.git
[submodule "orchestrator"]
	path = orchestrator
	url = git@github.com:arielril/shdw-orchestrator.git
[submodule "ui"]
	path = ui
	url = git@github.com:arielril/shdw-ui.git
